:root {
    --width: 300px;
    --padding: 8px;
    --bgcolor: rgb(52, 52, 52);
    --hovercolor: rgb(19, 139, 148);
    --width-collapsed: 50px;
    --menu-color: #01121ae1;
}

/*  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: var(--width-collapsed);
}

.body-expanded {
    margin-left: var(--width);
}

#main-container {
    color: #000;
}

#sidemenu {
    background-color: var(--menu-color);
    color: white;
    position: fixed;
    transition: 0.4s ease;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;
}

#sidemenu a {
    color: white;
    text-decoration: none;
}

#sidemenu #header {
    box-sizing: border-box;
    border-bottom: solid 1px rgba(82, 82, 112, 0.39);

}

#sidemenu #header #title {
    box-sizing: border-box;
    margin-left: 7.5em;
    justify-content: center;
    overflow: hidden;
    transition: 0.5s ease all;
    text-align: center;

}

#sidemenu #header #title,
#sidemenu #header #menu-btn {
    vertical-align: middle;
}

#sidemenu #header #menu #menu-btn {
    display: inline-block;
    transition: ease-in-out 1s;
}

#sidemenu #header #menu-btn {
    cursor: pointer;
    padding: 10px;
    width: var(--width-collapsed);
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
    background-color: var(--hovercolor);
}

#sidemenu #header #menu-btn .btn-hamburger {
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 6px 0;
    transition: 0.5s ease;
}

/* 
Profile
*/

#sidemenu #profile {
    border-bottom: solid .3px rgb(17, 1, 1);
    padding: var(--padding) 0;
    text-align: center;
    transition: 1s;
    margin-bottom: 8px;
}

#sidemenu #profile #photo {
    box-sizing: border-box;
    padding: var(--padding);
    margin: 0 auto;
    transition: 1s;
    width: 100%;
}

#sidemenu #profile #photo img {
    border-radius: 50%;
    height: 20%;
    width: 50%;
}

#sidemenu #profile #photo,
#sidemenu #profile #name {
    font-size: 24px;
    padding: var(--padding) 0;
    overflow: hidden;
    transition: 3s;
}

/* Items */

#sidemenu #menu-items {
    overflow: hidden;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

#sidemenu #menu-items .item .icon,
#sidemenu #menu-items .item .title {
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    transition: 1s;
}

#sidemenu #menu-items .item a {
    display: block;
}

#sidemenu #menu-items .item a:hover {
    background-color: var(--hovercolor);
}

#sidemenu #menu-items .item .icon {
    box-sizing: border-box;
    padding: var(--padding);
    width: var(--width-collapsed);
    transition: 1s;
}

#sidemenu #menu-items .item .icon img {
    width: 100%;
}

#sidemenu #menu-items .item .title {
    padding: var(--padding) 0;
}

#sidemenu #menu-items .item.separator {
    height: 1px;
    border-bottom: solid .4px rgba(10, 8, 8, 0.247);
    box-shadow: 2px 5px 20px black;
    margin: 15px 0;
}

.menu-expanded {
    width: var(--width);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-expanded #header #title {
    display: inline-block;
    width: calc(100% -50px);
    margin-right: -5px;
    padding: var(--padding);
}

.menu-expanded #header #title span {
    width: calc(var(--width) - var(--width-collapsed) - 5px);
    overflow: hidden;
    transition: 2s ease;
}

.menu-expanded #profile #photo {
    width: 200px;
    transition: 1s;
}

.menu-expanded #profile #name {
    width: 100%;
    transition: 1s;
}

.menu-collapsed {
    width: var(--width-collapsed);
    transition: 1s;
}

.menu-collapsed #header #title {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    transition: 1s;
}

.menu-collapsed #profile #name {
    display: none;
    opacity: 0;
}

.menu-collapsed #menu-items .item a span {
    transition: 0.3s;
    opacity: 0;
}

.menu-collapsed .item {
    width: 100px;
}

@media (max-width: 900px){
    main{
        display: flex;
        flex-direction: column; 
        /* align-items: center; */
    }

    main h2{
        line-height: 1em ;
        font-size: 2.4em;
        font-family: sans-serif;
        padding: 1em;
    }
    .grid{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* width: 80%; */
        background: crimson;
        border-radius: 10px;
        color: rgb(255, 255, 255);
    }

    .grid img{
        width: 85%;
        /* height: 200px; */
    }

    .colums{
        flex: 0 0 calc(40% - 1rem);
        padding: 1em;
    }
}
@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main h2 {
        line-height: 1em;
        font-size: 2.4em;
        font-family: sans-serif;
        padding: 1em;
    }

    .grid {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 80%;
        background: crimson;
        border-radius: 10px;
        color: rgb(255, 255, 255);
    }

    .grid img {
        width: 85%;
        /* height: 200px; */
    }

    .colums {
        flex: 0 0 calc(40% - 1rem);
        padding: 1em;
    }
}

